%div#checkin
	= link_to 'Back to people list', users_path
	- if @user.tokens.available.all.size > 0
		%ul
			- TokenType.all.each do |token_type|
				= form_tag "/people/#{@user.id}/check", :method => :post do
					= hidden_field_tag :token_type_id, token_type.id
					%li
						= select_tag "motivation_id", options_from_collection_for_select(Motivation.all, "id", "title")
						- if @user.tokens_avalaible?(token_type.id)
							%button
								= content_tag :span, "Use #{token_type.title} credit (#{@user.remain_tokens(token_type.id)})", :class => 'submit'
						- else
							= content_tag :span, "Use #{token_type.title} credit (#{@user.remain_tokens(token_type.id)})", :class => 'empty'
	- else
		%div#warning.notice
			Ooooh no ^^ You have no enough credits... please, buy some credits !