#cartridge
  %h1 
    Editing account
  = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :validate => true) do |f|
    = devise_error_messages!
    = f.inputs :id => "basic", :class => 'basic' do
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      - if can? :manage, :all
        = f.input :admin
      %div{:class => 'actions'}
        %button{:class => "btn primary",:id => "edit_account_submit"}
          Update User
  %h3 Cancel my account
  %p
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
  = link_to "Home", root_path
