#cartridge
  %h2 Sign up!
  = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f|
    = devise_error_messages!
    = f.inputs do
      = f.input :gender, :as => :select, :collection => %w( Mr Mlle Mme )
      = f.input :firstname
      = f.input :lastname
      = f.input :company
      = f.input :phone
      = f.input :twitter
      = f.input :email      
      = f.input :password
      = f.input :password_confirmation
      - if can? :manage, :all
        = f.input :admin
      = f.input :bio
      = f.submit(:sign_up, :id => :new_registration_submit)
  = render :partial => "devise/shared/links"
