%div#person
  %div#img
    = avatar(@person)
  - if can? :manage, @person
    = render :partial => 'avatar'
  %p
    = @person.firstname
    = @person.lastname
    %br 
    = @person.nb_of_checkin_label
    %br
    - if can? :read, @person
      = @person.user.email
    - if @person.checkin?
      %br 
      = @person.checkin_label
      - if can? :manage, :all
        %br
        = @person.checkin_owners_label
  - if can? :read, @person
    %p
      %b Company:
      = @person.company
    %p
      %b Phone:
      = @person.phone
      %p
        %b API Key:
        = @person.user.authentication_token
  - if can? :update, @person
    = form_for(@person, :url => new_person_check_path(@person), :html => { :method => :get })  do |f|
      %button
        = f.submit 'Checkin', :class => 'submit'
    = link_to 'Edit Profile', edit_person_path(@person)
  - if can? :manage, :all
    %br
      = link_to 'Add Credits', add_tokens_person_tokens_path(@person)
  - if @person.me?(current_user) and @person.invitations.size > 0
    %div#invitations
      = render :partial => 'invitation', :collection => @person.invitations
  = link_to 'Back to people list', people_path
  
