%h1="Sign In Options"
- if @authentications
  - unless @authentications.empty?
    %p
      %strong You have signed in with these services:
    .authentications
      - for authentication in @authentications
        .authentication
          = image_tag "#{authentication.provider}_32.png", :size => "32x32"
          .provider= authentication.provider_name
          .uid= authentication.uid
          = link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"
      .clear
  %p
    %strong Add another service to sign in with:
- else
  %p
    %strong Sign in through one of these services:
%a.auth_provider{:href => "/auth/twitter"}
  = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
  Twitter
%a.auth_provider{:href => "/auth/facebook"}
  = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
  Facebook
/ %a.auth_provider{:href => "/auth/google_apps"}
/   = image_tag "google_64.png", :size => "64x64", :alt => "GoogleApps"
/   Google Apps
%a.auth_provider{:href => "/auth/openid"}
  = image_tag "openid_64.png", :size => "64x64", :alt => "MyOpenID"
  MyOpenID
%a.auth_provider{:href => "/auth/github"}
  = image_tag "github_64.png", :size => "64x64", :alt => "Github"
  Github
%a.auth_provider{:href => "/auth/google"}
  = image_tag "google_64.png", :size => "64x64", :alt => "Google"
  Google
.clear
- unless user_signed_in?
  %p
    %strong Don't use these services?
    = link_to "Sign up", new_user_registration_path
    or
    \#{link_to "sign in", new_user_session_path} with a password.
- else
  = link_to t('links.show_all'), users_path