= content_tag_for :ul, notification do
  %li= notification.user.name
  %li= t notification.sent_at, :format => :default
  %li.content= truncate(notification.content,:length=>30)
  %li= link_to 'Show', notification
