%h1 Listing notifications
  
%span.pagination
  = paginate @notifications

%table.zebra-striped
  %thead
    %tr
      %th="Sent By"
      %th="Sent at"
      %th.content= "Content"
      %th="Show"
  %tbody
    = render @notifications
    
%span.pagination
  = paginate @notifications
  
= link_to 'New Notification', new_notification_path 
\| 
= link_to 'Home', root_path