%h1 Listing notifications
  
= paginate @notifications
 
%table.zebra-striped
  %thead
    %tr
      %th="Sent By"
      %th="Sent at"
      %th.content= "Content"
      %th="Show"
  %tbody
    = render @notifications
    
= paginate @notifications
  
= link_to 'New Notification', new_notification_path 
\| 
= link_to 'Home', users_path