#cartridge.notifications

  %h1 Listing notifications
  
  %span.pagination
    = paginate @notifications
	
  %ul
    %li Sent By
    %li Sent at
    %li.content Content
    %li Show  
    = render @notifications
    
  %span.pagination
    = paginate @notifications
  
= link_to 'New Notification', new_notification_path 
\| 
= link_to 'Home', root_path