%p#notice= notice

%p
  %b Person:
  = @notification.person_id
%p
  %b Sent at:
  = @notification.sent_at
%p
  %b At who:
  = @notification.at_who
%p
  %b Content:
  = @notification.content

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
