%p#notice= notice

%p
  %b By:
  = @notification.user.name
%p
  %b Sent at:
  = t(@notification.sent_at,:format=>:default)
%p
  %b Content:
  = @notification.content

= link_to 'Back', notifications_path
\| 
= link_to 'Home', root_path
