= semantic_form_for @user, :validate => true  do |f|
  - if @user.errors.any?
    = render :partial => 'errors'
  = f.inputs do
    = f.input :gender, :as => :select, :collection => %w( Mr Mlle Mme )
    = f.input :firstname
    = f.input :lastname
    = f.input :company
    = f.input :phone
    - if can? :manage, :all
      = f.input :admin
  = f.buttons