= f.input :gender, :collection => %w( Mr Mlle Mme ), :include_blank => false
= f.input :firstname
= f.input :lastname
= f.input :company
= f.input :phone
= f.input :twitter
= f.input :email
- if can? :manage, :all
  = f.input :admin
= f.input :bio