= div_for person, :class => person_class(person) do
  = person.nb_of_checkin_label
  %div#img
    = avatar(person)
  %p
    = link_to person.name, person
    %b
      = person.company
    - if person.checkin?
      %br (I'm here)
  - if person.not_me?(current_user)
    - if current_user.show_button_folow?(person)
      = form_for(person, :url => request_an_invitation_person_path(person), :html => { :method => :post })  do |f|
        = f.hidden_field :user_id
        %button
          = f.submit 'Follow', :class => 'submit', :id => "request_an_invitation_for_#{person.id}"
  - if can? :update, person
    = form_for(person, :url => new_person_check_path(person), :html => { :method => :get })  do |f|
      %button
        = f.submit 'Checkin', :class => 'submit', :id => "checkin_for_#{person.id}"
  - if can? :manage, :all
    %br
    = link_to 'Add Credits', add_tokens_person_tokens_path(person)
  - if can? :update, person
    = link_to 'Edit', edit_person_path(person)