= div_for user, :class => "#{user_class(user)} span4 columns" do
  %p.checkin= user.nb_of_checkin_label.html_safe
  %div{:class => "span2 columns", :id => "img"}
    = avatar(user)
  %p
    = link_to truncate(user.name,:length=>19), user
    %b
      = user.company
    - if user.checkin?
      %br (I'm here)
    - if user.not_me?(current_user)
      - if current_user.show_button_folow?(user)
        = form_for(user, :url => request_an_invitation_user_path(user), :html => { :method => :post })  do |f|
          %button{:class=>"btn success", :id => "request_an_invitation_for_#{user.id}"}= t('buttons.follow')
  %div{:class => "user_bottom column"}
    - unless user.checkin?
      - if can? :update, user
        = form_for(user, :url => new_user_check_path(user), :html => { :method => :get })  do |f|
          %button{:class => "btn primary",:id => "checkin_for_#{user.id}"}= t('buttons.checkin')
    - if can? :manage, :all
      = "#{link_to t('links.add_credits'), add_tokens_user_tokens_path(user)} | ".html_safe
    - if can? :update, user
      = link_to t('common.actions.edit'), edit_user_path(user)