%section#forms
  %div.page-header
    %h1= t('.title')
  %div{:class => "row" }
    %div{:class => "span4 columns" }
      %h2= t('.title_box')
      %p= t('.p_box')
    %div{:class => "span11 columns" }
      = simple_form_for @user do |f|
        = render 'shared/errors', :errors => @user.errors, :name => :user
        = render :partial => 'form', :locals => { :f => f }
        %div{:class => "actions"}
          %button{:class => "btn primary"}= t('helpers.submit.user.update')
      = link_to t('links.home'), users_path
      = " | "
      = link_to @user.name, @user
      = " | #{link_to(t('.registration'), edit_user_registration_path)}".html_safe