%h1 Listing people

%p
  - if controller.action_name == 'index'
    = form_tag(current_checkin_users_path, :method => :get) do
      %button{:class => "btn info",:id => "edit_account_submit"}
        Show checkin people only
  - else
    = link_to 'Show me all', users_path

= paginate @users

%div{:class => "row show-grid", :id => "people"}
  = render @users
  
= paginate @users