%div{:id=>'person'}
  %div#img
    = avatar(@user)
  - if can? :manage, @user
    = render :partial => 'avatar'
  %p
    = @user.firstname
    = @user.lastname
    %br 
    = @user.nb_of_checkin_label
    %br
    - if can? :read, @user
      = @user.email
    - if @user.checkin?
      %br 
      = @user.checkin_label
      - if can? :manage, :all
        %br
        = @user.checkin_owners_label
  - if can? :read, @user
    %p
      %b Company:
      = @user.company
    %p
      %b Phone:
      = @user.phone
    %p
      %b API Key:
      = @user.authentication_token
  - if can? :update, @user
    = form_for(@user, :url => new_user_check_path(@user), :html => { :method => :get })  do |f|
      %button{:class => "btn primary"}= t('buttons.checkin')
  - if @user.me?(current_user) and @user.invitations.size > 0
    %div{:id=>'invitations'}
      %h2= "Invitations"
      %table.zebra-striped
        %tbody
        = render :partial => 'invitation', :collection => @user.invitations
  - if can? :update, @user
    = link_to t('.edit'), edit_user_path(@user)
  - if can? :manage, :all
    %br= link_to t('links.add_credits'), add_tokens_user_tokens_path(@user)
  = link_to t('links.show_all'), users_path
  %br= link_to t('.delete'), user_path(@user), :confirm => t('.confirm'), :method => :delete
  
