%div{:id=>'person',:class=>'row'}
  %div{:class=>"span12"}
    %div.row
      %div.span3
        %div#img
          = avatar(@user)
      %div.span8
        - if can? :manage, @user
          = render :partial => 'avatar'
    %div.row
      %div.span11
        = "#{@user.firstname} #{@user.lastname}"
    %div.row
      %div.span11
        = @user.nb_checkin_label
    - if @user.checkin?
      %div.row
        %div.span11
          = @user.checkin_label
      - if can? :manage, :all
        %div.row
          %div.span11
            = @user.checkin_owners_label
    - if can? :update, @user
      %div.row
        %div.span11
          = form_for(@user, :url => new_user_check_path(@user), :html => { :method => :get })  do |f|
            - if !@user.checkin?
              %button{:class => "btn primary", :id => 'user_show_checkin_button' }= t('buttons.checkin')
            - elsif can? :manage, :all
              %button{:class => "btn primary", :id => 'user_show_checkin_button' }= t('buttons.checkin_again')
    - if can? :read, @user
      %div.row
        %div.span2
          %b= "Company:"
        %div.span9
          %b= @user.company
      %div.row
        %div.span2
          %b= "Phone:"
        %div.span9
          = @user.phone
      %div.row
        %div.span2
          %b= "API Key:"
        %div.span9
          = @user.authentication_token
      %div.row
        %div.span2
          %b= "Email:"
        %div.span9
          = @user.email
      %div.row
        %div.span2
          %b= "Twitter:"
        %div.span9
          = @user.twitter
      - if @user.invitations.count > 0
        %div{:id=>'invitations'}
          %h2= "Invitations"
          %table.zebra-striped
            %tbody
            = render :partial => 'invitation', :collection => @user.invitations
    - if can? :update, @user
      = link_to t('.edit'), edit_user_path(@user)
      = " | "
      = link_to t('.authentications'), authentications_path
      = " | "
    - if can? :manage, :all
      = link_to t('links.add_credits'), add_tokens_user_tokens_path(@user)
      = " | "
      = link_to t('.delete'), user_path(@user), :confirm => t('.confirm'), :method => :delete
      = " | "
    = link_to t('links.show_all'), users_path