#cartridge
  %h2 Sign up!
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :validate => true) do |f|
    = f.input :email
    = f.input :reset_password
    = f.button :submit, :class => 'primary', :id => :reset_password, :value => 'Reset Password!'
  = render :partial => "devise/shared/links"
