%section#forms
  %div.page-header
    %h1= t('.title')
  %div{:class => "row" }
    %div{:class => "span4 columns" }
      %h2= t('.title_box')
      %p= t('.p_box')
    %div{:class => "span11 columns" }
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = devise_error_messages!
        = f.input :current_password
        = f.input :password
        = f.input :password_confirmation
        %div{:class => "actions"}
          = f.button :submit, :class => 'primary'
    %div{:class => "clearfix span15 columns"}
      %br= link_to t('links.home'), users_path
