%section#forms
  %div.page-header
    %h1= t('.credit_for',:name=>@user.email)
  %div{:class => "row" }
    %div{:class => "span4 columns" }
      %h2= t('.title')
      %p= t('.speach')
    %div{:class => "span11 columns" }
      = form_tag(create_tokens_user_tokens_path(@user),:class=>"form-stacked") do |f|
        %fieldset
          %legend= t('.legend')
          %div{:class => "clearfix"}
            = label_tag :number, t('.number')
            %div{:class => "input"}
              = select nil, :number, 1..100
          %div{:class => "clearfix"}
            = label_tag :price, t('.price')
            %div{:class => "input"}
              = text_field_tag :price, 0
          %div{:class => "clearfix"}
            = label_tag :token_type, t('.token_type')
            %div{:class => "input"}
              = collection_select :token_type, :token_type_id, TokenType.all, :id, :title
        %div{:class => "actions"}
          %button{:class => "btn primary"}= t('helpers.submit.token.create')
    %div{:class => "clearfix span15 columns"}
