%p#notice= notice

%p
  %b Token type:
  = @token.token_type_id
%p
  %b Cost:
  = @token.cost
%p
  %b Start at:
  = @token.start_at
%p
  %b Stop at:
  = @token.stop_at
%p
  %b Used:
  = @token.used

= link_to 'Edit', edit_token_path(@token)
\|
= link_to 'Back', tokens_path
