%section#forms
  %div.page-header
    %h1= t '.title'
  %div.row
    %div{:class => "span4 columns"}
      %h2= t('.title_box')
      %p= t('.p_box')
    %div{:class => "span11 columns"}
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "form-stacked") do |f|
        = f.input :email
        = f.input :password
        %div{:class => "clearfix"}
          = f.label :remember_me
          %div{:class => "input"}
            %ul{:class => "inputs-list"}
              %li
                = f.check_box :remember_me
                %span= t '.remember_me'
        = f.button :submit, :class => 'primary', :id => :new_sessions_submit
  %div{:class => "clearfix span15 columns"}
    = render :partial => "devise/shared/links"