%section#forms
  %div.page-header
    %h1
      Sign in form
  %div.row
    %div{:class => "span4 columns"}
      %h2 Lorem ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque sapien in eros sollicitudin sed varius risus convallis. Mauris lobortis, nibh et laoreet commodo
    %div{:class => "span11 columns"}
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "form-stacked") do |f|
        = f.input :email
        = f.input :password
        %div{:class => "clearfix"}
          = f.label :remember_me
          %div{:class => "input"}
            %ul{:class => "inputs-list"}
              %li
                = f.check_box :remember_me
                %span
                  (Only on your computer)
        = f.button :submit, :class => 'primary', :id => :new_sessions_submit, :value => 'Sign in'
  %div{:class => "clearfix span15 columns"}
    = render :partial => "devise/shared/links"