!!! 5
%html
  %head
    %title 
      = title
    = stylesheet_link_tag "application"
    /[if IE 7]
      = stylesheet_link_tag 'ie7'
    /[if IE 6]
      = stylesheet_link_tag 'ie6'
    = csrf_meta_tags
    / = javascript_include_rpx(user_session_url)
    = csrf_meta_tag
    %body
      %div{:class => "container", :id => "main-container"}
        = "#main-container"
        %div{:class => "columns", :id => "header"}
          = "#header"
          = link_to "releases notes", "/releasesnotes_fr.html" 
          %ul.hmenu
            = render 'devise/menu/login_items'
            = render 'devise/menu/registration_items'
            - if can? :manage, :all
              %li
                = link_to 'Send notifications', notifications_path
        %div{:class => "columns", :id => "flash"}
          = "#flash"
          = render :partial => 'shared/flashes'
        %div{:class => "columns content", :id => "main-content"}
          = "#main-content"
          = yield
        %div{:class => "columns", :id => "footer"}
          = "#footer"
          = yield :footer